.Retrato {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.624);
}

.retrato-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #f9f9f9;
  color: #040000;
  display: flex;
  gap: 10px;
  width: 50vw;
}

.retrato-img {
  height: 80vh;
  border-radius: 10px;
}

.retrato-info-container {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  color: #040000;
  padding: 10px;
}

.retrato-nome {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}

.retrato-info {
  font-size: 1.5rem;
  margin: 0;
  color: #918c8f;
}

.retrato-sobre {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0px 5px 15px 0px;
}

.retrato-filmografia {
  display: flex;
  flex-direction: column;
}

.retrato-filmografia-title {
  font-size: 1.5rem;
  margin: 0;
}

.retrato-span {
  font-family: "Teko", sans-serif;
  font-weight: 400;
}

.retrato-filmografia-list {
  list-style: none;
  margin: 0;
  padding: 0px;
  overflow-y: scroll;
}

.retrato-filmografia-list::-webkit-scrollbar {
  display: none;
}

.retrato-filmografia-text {
  font-size: 1.5rem;
  line-height: 30px;
  margin: 0;
}
